html{
    height: 100%;
}

body{
    background-color:#1E1E2E;
    color: #F5F5F5;
    height: 100%;
    padding: 0px;
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    letter-spacing: 1px;
}

.loginContainer{
    position: relative;
    border: 1px solid #e2dd94;
    border-radius: 10px;
    /* background-color: #14141f; */
    background:linear-gradient(to top left, #14141f, #1f1f30);
    height: 500px;
    width: 400px;
    box-shadow: 5px 5px 15px #e2dd94;
    perspective: 1000px;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.rotate{
    transform: rotateY(-180deg);
    box-shadow: -5px 5px 15px #e2dd94;
    background:linear-gradient(to top right, #14141f, #1f1f30);
}

.login, .signin{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.signin{
    transform: rotateY(180deg);
}

h2{
    text-decoration: underline;
    margin-bottom: 10px;
}

.inputContainerStyle{
    display: flex;
    flex-direction: column;
    margin: 0px;
    font-size: 10pt;
    width: 80%;
    position: relative;
}

.inputStyle{
    border: none;
    border-bottom: 2px solid white;
    border-left: 2px solid white;
    border-radius: 3px;
    font-size: 9pt;
    font-family: "Orbitron", sans-serif;
    font-style: normal;
    letter-spacing: 2px;
    padding: 5px 10px;
    position: relative;
    background-color: transparent;
    color: white;
}

.clearbutton{
    position: absolute;
    padding: 5px 10px;
    background-color: transparent;
    border: none;
    border-radius: 100px;
    bottom: 2px;
    right: 10px;
    color: lightgray;
    z-index: 1;
    visibility: hidden;
}

.clearbutton:hover {
    cursor: pointer;
    background-color: #28283b;
}


.inputStyle:focus{
    outline: none;
}


label{
    font-size: 9pt;
}

.checkboxContainer{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 10px;
}

.inputLabel{
    position: absolute;
    padding: 5px;
    z-index: 1000;
    pointer-events: none;
    bottom: 2px;
}


.moveUp{
    animation: moveUp 0.3s forwards;
    transform-origin: center;
}

@keyframes moveUp {
    0%{
        bottom: 2px;
    }
    100%{
        bottom: 20px;
    }
}

.moveDown{
    animation: moveDown 0.3s forwards;
    transform-origin: center;
}

@keyframes moveDown {
    0%{
        bottom: 20px;
    }
    100%{
        bottom: 2px;
    }
}

.loginOptionContainer{
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px
}

.loginOptionContainer button{
    padding: 10px 15px;
    cursor: pointer;
    background-color: #1E1E2E;
    border: 2px solid #444465;
    border-radius: 5px;
    font-size: 12pt;
    font-weight: bold;
    color: white;
}

.loginOptionContainer button:hover{
    background-color: #31314c;
}


.loginOptionContainer p{
    font-size: 9pt;
    color: white;
    text-decoration: underline;
    margin: 0px;
    cursor: pointer;
}


.visible{
    visibility: visible;
}
